@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.scrollbar-custom {
    scrollbar-width: thin;
}

.scrollbar-custom::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.scrollbar-custom::-webkit-scrollbar-track {
    background: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
}

.scrollbar-custom:hover::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
}